<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>
  <a th:href="@{/home/main-ingredient}">Back to ingredient list</a>
</p>
<div id="form">
  <form action="#" th:action="@{/home/main-ingredient/delete}" th:object="${ingredient}" method="post">
    <fieldset>
      <legend>Ingredient Information</legend>
      <tr>
        <div>
          <td><input type="hidden" th:field="*{id}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td>Name</td>
          <td><input type="text" th:field="*{name}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label>Date Import</label></td>
          <td><input type="text" th:field="*{dateImport}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label>Employee Import</label></td>
          <td><input type="text" th:field="*{employee.name}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label>Amount</label></td>
          <td><input type="text" th:field="*{amount}" readonly></td>
        </div>
      </tr>
    </fieldset>
  </form>
</div>
</body>
</html>