
<!DOCTYPE html>
<html lang="en" xmlns:form="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h3>Home</h3>
<img th:src="@{../../static/images/2.jpg}">
<form action="#" th:action="home" method="post" th:object="${login}">

  <fieldset>
    <legend>Login</legend>
    <table>
      <tr>
        <td><label>Account</label></td>
        <td><input type="text" th:field="*{account}"></td>
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td><input type="password" th:field="*{password}"></td>
      </tr>

    </table>
    <input type="submit" value="Login">
  </fieldset>
</form>
</body>
</html>