<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <title>Checklist List</title>

</head>
<body>
<h3>Checklists</h3>
<p>
  <a th:href="@{/home/checklist/create}">Add new checklist</a>
</p>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<table id="checklists" border="1">
  <thead>
  <tr>
    <th>Employee</th>
    <th>Date created</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="row,rowStat : ${checklists}">
    <td th:if="${row.employee}" th:text="${row.employee.name}"></td>
    <td th:unless="${row.employee}"></td>
    <td th:text="${row.getDateCreated()}"></td>
    <td><a th:href="@{/home/checklist/__${row.id}__/delete}">delete</a></td>
    <td><a th:href="@{/home/checklist/__${row.id}__/view}">view</a></td>
  </tr>
  </tbody>
</table>
<footer></footer>
</body>
</html>